@{
    ViewBag.Title = "Index";
}

<style>
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }

    .bord {
        border: 1px solid #ff0000;
    }

    #head {
        width: 100%;
    }

        #head .title {
            width: 100%;
            height: 100px;
        }

            #head .title .logo {
                height: 42px;
                width: 161px;
                float: left;
                margin-right: 30px;
            }

            #head .title .connet {
                width: 300px;
                height: 40px;
                float: left;
            }

        #head .items {
            width: 100%;
            height: 40px;
            background-color: #000000;
        }

            #head .items .item {
                width: 100px;
                font-size: 17px;
                color: #ffffff;
                height: 100%;
                float: left;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
            }

                #head .items .item:hover {
                    background-color: #50b400;
                }

    #con {
        width: 100%;
    }

        #con .picts {
            width: 780px;
            height: 350px;
            position: relative;
        }

            #con .picts .pict {
                width: 100%;
                height: 100%;
                position: relative;
            }

                #con .picts .pict li {
                    opacity: 0.01;
                    display: none;
                    left: 0px;
                    top: 0px;
                    z-index: 8;
                    position: absolute;
                }

            #con .picts .pictNum3 {
                position: absolute;
                bottom: 20px;
                left: 30px;
            }

                #con .picts .pictNum3 li {
                    float: left;
                }
                    #con .picts .pictNum3 li a {
                        float: left;
                        width: 20px;
                        height: 20px;
                        background: #38415F;
                        color: #fff;
                        margin-right: 10px;
                        font-size: 12px;
                        text-align: center;
                        line-height: 20px;
                    }
                        #con .picts .pictNum3 li a:hover {
                            background-color: #50b400;
    ;                    }
        #con .items {
            margin-top:10px;
            width:100%;
            height:400px;
        }
            #con .items .item {
                float:left;
                width:200px;
                margin:0 20px;
            }
                #con .items .item .head {
                    float:left;
                    width:100%;
                    clear:both;
                    height:100px;
                }
                #con .items .item .title {
                    float: left;
                    width: 100%;
                    clear: both;
                    margin:20px 0;
                    text-align:center;
                }
                #con .items .item .intr {
                    float: left;
                    width: 100%;
                    clear: both;
                    height: 100px;
                }
</style>
<div id="head">
    <div class="title">
        <div style="width:800px;margin:0 auto;">
            <div class="logo bord"></div>
            <div class="connet bord">
                服务热线:<span style="color:red">13000000000 13100000</span>
            </div>
        </div>
    </div>
    <div class="items">
        <div style="width:800px;margin:0 auto;height:100%">
            <div class="item">首页</div>
            <div class="item">公司简介</div>
            <div class="item">产品中心</div>
            <div class="item">工程案例</div>
            <div class="item">在线留言</div>
            <div class="item">联系我们</div>
        </div>
    </div>

</div>
<div id="con">
    <div style="width:800px;margin:0 auto;height:100%">
        <div class="picts">
            <ul class="pict bord">
                <li style="background-color:#ff0000">1</li>
                <li style="background-color:#00ff00">2</li>
                <li style="background-color:#00ff00">3</li>
            </ul>
            <ul class="pictNum3">
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
            </ul>
        </div>
    </div>
    <div style="width:800px;margin:0 auto;height:100%">
        <div class="items">
            <div class="item ">
                <div class="head bord"></div>
                <p class="title">印刷业务</p>
                <div class="intr bord"></div>
            </div>
            <div class="item ">
                <div class="head bord"></div>
                <p class="title">广告工程</p>
                <div class="intr bord"></div>
            </div>
            <div class="item ">
                <div class="head bord"></div>
                <p class="title">会展服务</p>
                <div class="intr bord"></div>
            </div>
        </div>
    </div>
    <div id="companyIntro">
        <div>
            <div>公司介绍</div>
            <div>ABOUT US</div>
        </div>
        <div></div>
    </div>
</div>
